@font-face {
  font-family: Yahoo;
  src: "/Assets/Yahoo.ttf";
}
body {
  margin: 0;
  font-family: Yahoo;
  height: 100vh;
  display:flex; 
  flex-direction:column; 
}

a:hover{
  opacity: 0.8;
}

header{
  background-color: #430297;
  color: white;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.logo{
  margin: auto 20px;
  font-size: 250%;
  flex: 1;
}
.logo a{
  text-decoration: none;
  color: white;
}

.nav{
  margin: 20px;
  list-style-type: none;
  padding: 0;
  display: flex;
  overflow: hidden;
}

.nav li{
  float: left;
}

.nav a{
  font-size: 150%;
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.icons{
  margin: 20px;
  margin-left: 0;
  list-style-type: none;
  padding: 0;
  display: flex;
  overflow: hidden;
}

.icons a{
  font-size: 200%;
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.icons button{
  display: none;
}


.navmobile{
  list-style-type: none;
  flex-flow: column nowrap;
  background-color: #430297;
  position: fixed;
  top: 0;
  right: 0;
  padding-top: 3.0rem;
  height:fit-content;
  width: fit-content;
}

.navmobile a{
  font-size: 150%;
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  padding-left: 0;
  margin-left: auto;
  text-decoration: none;
}

.navmobile button{
  font-size: 150%;
  margin-left: 25%;
  color: white;
  text-align: center;
  padding: 16px;
  padding-left: 0;
  background-color: #430297;
  border: none;
  font-family: Yahoo;
}

footer{
  background-color: #430297;
  color: white;
  font-family: Yahoo;
  text-decoration: none;
  display: inline-flex;
  justify-content: space-between;
  width: 100%;;
  position: relative;
  bottom: 0; 
  margin-top: 15px;

}
footer p{
  padding: 10px;
  text-align: center;
  margin: 0 2%;
}

footer p a{
  color: white;
}

.PrevSeasons{
  list-style: none;
  text-align: center;
  min-height: 75vh;
}
.PrevSeasons li{
  padding:10px 0;
}
.PrevSeasons li a{
  color: black;
  text-decoration: none;
  font-size: 200%;
}
.S1{
  text-align: center;
  min-height: 75vh;
}
.Season1{
  justify-content: space-between;
  margin-top: 3%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
}
.Season1 table{
  margin-left: 12%;
  border-collapse: collapse;
}

.Season1 table tr{
  border: 2px solid black;
}
td, th { 
  padding: 5px; 
  text-align: center;
}
.History{
  text-align: center;
  margin-top: 5%;
  min-height: 75vh;
}
td{
  width: 50px
}
.name{
  width:120px;
}
.Categorias{
  margin-right: 12%;
  list-style: none;
}
.Categorias li{
  font-size: large;
  padding: 5px;
}
.rosters{
  display:flex;
  margin: 5%;
  min-height: 75vh;
  flex-wrap: wrap;
  justify-content: space-between;
}

.roster{
  text-align: center;
  padding: 15px;
  
}
.roster img{
  width: 250px;
}
.roster ul{
  list-style: none;
}

.standings{
  display:flex;
  margin: 5% 7%;
  min-height: 75vh;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

.standing{
  margin: 15px 0;
}

.standing table{
  border-collapse: collapse;
}

.standing table tr{
  border: 2px solid black;
}

.transactions img{
width: 70%;
display: block;
margin: 20px auto;
}

@media (max-width:750px){
  .nav{
    display: none;
  }
  .icons button {
    color: white;
    display: block;
    background-color: #430297;
    border: none;
    font-size:170%
  }
  footer{
    display: none
  }
  .PrevSeasons{
    margin-left:-25px;
  }
  
  .Season1 table{
    margin: 0 2%;
    border-collapse: collapse;
  }
  td, th { 
    padding: 3px; 
  }
  .Categorias{
    margin: 0 2%;
  }
  .rosters{
    justify-content: center;
  }
}
@media (max-width: 900px){
  .Season1{
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .standings{
    justify-content: center;

  }
}